* {
  box-sizing: border-box;
}

body {
  background-color: darkgray;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 14px
}

.body-content {
  padding: 50px;
}

.navbar {
  padding: 0;
  background-image: url("./bgpic.jpeg");
  height: 120px;
}

h1 {
  padding-left: 30%;
}

a {
  color: whitesmoke;
}



#posts_box, #fav_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

/* #posts_box {
  height: 550px;
} */


.post {
  width: 300px;
  margin: 5px;
  border: solid 1px;
}

.post .description-box {
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-between;

}

.post .description-box p {
  padding-left: 5px;
  padding-top: 5px;
  color: whitesmoke;
  font-weight: bold;

}

.post .description-box .star {
  padding-top: 5px;
  padding-right: 5px;
}

.input-img {
  max-height: 200px;
  max-width: 270px
}

.output-box {
  max-width: 300px;
  border: solid 1px;
  padding: 3px;
  text-align: center;
}

.post .output-box {
  border: none;
}