* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  padding: 0;
  background-image: url("./bgpic.jpeg");
  height: 120px;
}


a {
  color: #00B7FF;
}



#posts_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-img {
  max-height: 200px;
  max-width: 270px
}

.output-box {
  max-width: 300px;
  border: solid 1px;
  padding: 3px;
  text-align: center;
}

.post {
  width: 300px;
  margin: 5px;
  border: solid 1px;
}